/* Site-wide styles */

@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900');
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

body {
    background-color: #faf8ef;
    color: #776e65;
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}

div, article {
    border-radius: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

button {
    border-radius: 5px;
    border: 1px solid #bbada0;
    background-color: #bbada0;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    padding: 10px;
}

label {
    cursor: pointer;
}

input[type="text"] {
    background-color: #bbada0;
    color: #faf8ef;
    font-size: 1rem;
    width: 50%;
    border: 0;
}

table {
    width: 100%;
}

tr {
    display: flex;
    justify-content: space-between;
}

tr:first-of-type {
    border-bottom: 1px solid #bbada0;
}

svg {
    height: 1.5rem;
    fill: #bbada0;
}

label {
    border: 2px solid #bbada0;
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

label:hover {
    background-color: #f5e0ce;
}

:checked + label {
    background-color: #bbada0;
    color: #faf8ef;
}

input[type="radio"] {
    display: block;
    visibility: hidden;
    margin: 25px auto 10px;
}

/* --------------------------- */

/* Menu bar */

nav {
    top: 0;
    width: 100%;
    height: 70px;
}

nav li {
    text-align: center;
}

nav li a {
    cursor: pointer;
    font-weight: bold;
}

nav>ul>li>span {
    border-radius: 15px;
    border: 2px solid #bbada0;
    padding: 10px;
}

.secondary {
    display: none;
}

@media screen and (min-width: 768px) {
    .secondary {
        display: inline;
    }
    .navbar-toggle {
        display: none;
    }
}

#mobile-menu {
    position: fixed;
    background-color: #faf8ef;
    right: 100%;
    top: 0;
    height: 100%;
    width: fit-content;
    transition: all 1s ease-in-out;
    z-index: 50;
}

#mobile-menu ul {
    height: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#close-menu {
    margin-top: auto;
}

/* --------------------------- */

/* Game overlays - Loss and Victory */

.overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    visibility: hidden;
    opacity: 0%;
    transition: all 1s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay-content {
    background-color: #faf8ef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    padding: 40px;
    transform: scale(0);
}

#can-submit-score div {
    display: flex;
    justify-content: space-evenly;
}

#game-over form {
    justify-content: center;
    align-items: center;
    width: 100%;
}

#game-over input {
    margin-bottom: 15px;
}

#victory {
    background-color: rgba(255, 252, 103, 0.5);
}

/* --------------------------- */

/* Modals */

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 16px;
    box-sizing: border-box;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: auto;
    min-width: 300px;
    background-color: #faf8ef;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
    padding: 30px;
}

.modal-content em, p {
    text-align: center;
    width: 90%;
}

.modal-content ul {
    justify-content: space-between;
}

.modal-content li {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#scores-area {
    max-height: 400px;
    overflow: scroll;
}

/* --------------------------- */

/* Game Area */

#area-wrapper {
    display: flex;
    position: relative;
    width: fit-content;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 10px;
    background-color: #bbada0;
    margin: auto;
}

#game-area {
    background-color: #bbada0;
    margin: auto;
    display: block;
}

/* --------------------------- */