html, body {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

body {
    background-color: #faf8ef;
    color: #776e65;
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}

div {
    border-radius: 15px;
}

nav {
    top: 0;
    width: 100%;
    height: 70px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

nav li {
    text-align: center;
    margin: auto;
}

nav li a {
    cursor: pointer;
    text-emphasis: bold;
}

span {
    display: inline;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

button {
    border-radius: 5px;
    border: 1px solid #bbada0;
    background-color: #bbada0;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0%;
    transition: opacity 3s ease-in;
}

.overlay-content {
    background-color: #faf8ef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    padding: 40px;
}

.secondary {
    display: none;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 16px;
    box-sizing: border-box;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: auto;
    min-width: 300px;
    background-color: #faf8ef;
    transform: scale(0);
    transition: all 1s ease-in-out;
}

.modal-content em {
    text-align: center;
    width: 90%;
}

.modal-content ul {
    justify-content: space-between;
}

.modal-content li {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .secondary {
        display: inline;
    }
    .navbar-toggle {
        display: none;
    }
}

#mobile-menu {
    position: fixed;
    background-color: #faf8ef;
    right: 100%;
    top: 0;
    height: 100%;
    width: fit-content;
    transition: all 1s ease-in-out;
    z-index: 50;
}

#mobile-menu ul {
    height: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#close-menu {
    margin-top: auto;
}

#game-over {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

#victory {
    background-color: rgba(255, 252, 103, 0.5);
    display: none;
}

#area-wrapper {
    display: flex;
    position: relative;
    width: fit-content;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 10px;
    background-color: #bbada0;
    margin: auto;
}

#game-area {
    background-color: #bbada0;
    margin: auto;
    display: block;
}